// -----------------------------------------------------------------------------
// This file contains all grid settings of the site/application.
// -----------------------------------------------------------------------------
header {
    grid-area: header;
}

nav {
    grid-area: nav;
    @extend %placement;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    @extend %placement;
}

section {
    grid-area: section;
}

article {
    grid-area: article;
}

.pregnant {
    grid-area: pregnant;
}

.birth {
    grid-area: birth;
}

.baby {
    grid-area: baby;
}

.container {
    @extend %grid-form;
    grid-template-areas:
    "header header header header header header header header header header header header"
    "article article article article article article article article article article article article"
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer"
    "section section section section section section section section section section section section";
}
