// -----------------------------------------------------------------------------
// This file contains all styles related to the nav bar of the site/application.
// -----------------------------------------------------------------------------
nav {
    display: grid;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

nav > ul {
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    text-transform: uppercase;
}

nav ul li {
    padding: 1rem 10rem;
    display: inline-block;
}

.active {
    background-color: $white;
    padding: 1rem;
    color: #000;
}