body, html {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1rem, auto);
  align-content: center;
  align-items: center;
  text-align: center;
}

footer, nav {
  background-color: #0066aa;
}

a {
  color: #fff;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
  font-size: 10px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

section {
  grid-area: section;
}

article {
  grid-area: article;
}

.pregnant {
  grid-area: pregnant;
}

.birth {
  grid-area: birth;
}

.baby {
  grid-area: baby;
}

.container {
  grid-template-areas: "header header header header header header header header header header header header" "article article article article article article article article article article article article" "nav nav nav nav nav nav nav nav nav nav nav nav" "main main main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer footer footer" "section section section section section section section section section section section section";
}

body {
  background-image: url("../images/background/body-bg.jpg");
}

body > .container {
  color: white;
}

header img {
  width: 50%;
}

footer {
  background-color: #bfbfbf;
  color: #000;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  list-style: none;
}

form {
  background-color: rgba(255, 255, 255, 0.6);
}

.form_title {
  margin-bottom: 0;
  font-size: 4vh;
}

.form_required {
  margin: 0;
  font-size: 1.5vh;
}

input[type=text], input[type=email], input[type=tel], input[type=msg] {
  padding: 2vw;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=msg]:focus {
  background-color: #ddd;
}

input {
  text-align: left;
  vertical-align: top;
  width: 250px;
  border: 1px solid #999;
}
input::placeholder {
  text-align: center;
}

.userMsg input {
  width: 75%;
  height: 25vh;
}

nav {
  display: grid;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

nav > ul {
  letter-spacing: 0.075em;
  list-style: none;
  margin-bottom: 0;
  text-transform: uppercase;
}

nav ul li {
  padding: 1rem 10rem;
  display: inline-block;
}

.active {
  background-color: white;
  padding: 1rem;
  color: #000;
}

main {
  background-color: white;
  color: black;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery img {
  width: 100%;
}

.presentation h1 {
  margin: 0;
  padding: 0;
}

.presentation p {
  margin-top: 0;
  padding-top: 0;
}

.services > section > img {
  width: 80%;
}

/*# sourceMappingURL=main.css.map */
