// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.presentation h1 {
    margin: 0;
    padding: 0;
}

.presentation p {
    margin-top: 0;
    padding-top: 0;
}
